<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    <a href="/" class="text-blue-500 underline">Go to Home Page</a>
    <div>
        <div class=" color: black bg-gray-100 p-4 rounded-lg shadow-md">
            <h1 class="text-2xl font-bold mb-2">User Details</h1>
            
            }
            <% users.forEach(function(user) { %>
                <div class="mb-4 p-4 border border-gray-300 rounded-lg">
                    <p><strong>Name:</strong> <%= user.name %></p>
                    <p><strong>Email:</strong> <%= user.email %></p>
                    <p><strong>Password:</strong> <%= user.password %></p>
                    <img src="<%= user.image %>" alt="User Image" class="w-32 h-32 object-cover rounded">
                    <a href="/edit/<%= user._id %>" class="text-blue-500 underline ml-2">Edit</a>
                    <a href="/delete/<%= user._id %>" class="text-red-500 underline ml-2">Delete</a>

                </div>
            <% }) %>
        </div>
    </div>
</body>
</html>